mixin createPostForm(isUserLoggedIn)
    .postFormContainer
        .userImageContainer 
            img(src=isUserLoggedIn.profilePic, alt="profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="What is going on?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post 