mixin createPostForm(isUserLoggedIn)
    .postFormContainer
        .userImageContainer 
            img(src=isUserLoggedIn.profilePic, alt="profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="What is going on?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post 
mixin createReplyModal(isUserLoggedIn)

    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    .postFormContainer
                        .userImageContainer 
                            img(src=isUserLoggedIn.profilePic, alt="profile picture")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="What is going on?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply